// Global Styles

  @font-face {
    font-family: 'MyWebFont';
    src: url('../../fonts/glyphicons-halflings-regular.eot'); /* IE9 Compat Modes */
    src: url('../../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../fonts/glyphicons-halflings-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../fonts/glyphicons-halflings-regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('../../fonts/glyphicons-halflings-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../../fonts/glyphicons-halflings-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
  }

html,
body {
  height: 100%;
  text-rendering: optimizeLegibility;
}

.main {
  background-color: #eee;
}

.content-wrapper {
  min-height: 100%;
}

.content-wrapper {
  padding: 0px;
}

// Push content below top navbar
.content-wrapper {
  margin-top: $navbar-height;
}

// Vertical align content

%flexbox-vert-center {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
}

%flexbox-vert-bottom {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: flex-end;
  -webkit-align-items: flex-end;
  -webkit-box-align: flex-end;

  align-items: flex-end;
}



