// Scaffolding

// Padding Variables

/*--------------------------------------------------------*\
   Global layout class restructuring.
\*--------------------------------------------------------*/

.content-wrapper {
  @extend .container-fluid;
}

.content-row {
  @include make-row();
  margin: 0px;

  section & {
    padding-bottom: 4%;
  }
}

.content-row-container {
  @extend .container-fluid;
  padding-left: $padding-small-horizontal/2;
  padding-right: $padding-small-horizontal/2;

  @media (min-width: $screen-sm-tablet) {
    padding-left: $padding-small-horizontal;
    padding-right: $padding-small-horizontal;
  }
  @media (min-width: $screen-tablet) {
    padding-left: $padding-small-horizontal*1.5;
    padding-right: $padding-small-horizontal*1.5;
   }
  @media (min-width: $screen-desktop) {
    padding-left: $padding-large-horizontal;
    padding-right: $padding-large-horizontal;
  }
  @media (min-width: $screen-lg-desktop) {
    padding-left: $padding-large-horizontal*1.25;
    padding-right: $padding-large-horizontal*1.25;
  }
  @media (min-width: $screen-xl-desktop) {
      padding-left: $padding-large-horizontal*2;
      padding-right: $padding-large-horizontal*2;
    }
}

.content-row-inner {
  @include make-row();
  padding: 5% 0;

  @media (min-width:$screen-tablet) {
    & .left-column.text-content {
      padding-right: 5% !important;
    }
  }

}

/*--------------------------------------------------------*\
   Grid structure for page layout. Integrated with ACF plugin.
\*--------------------------------------------------------*/

// One-column layouts

.one-column {

  .full-column {
    @include make-sm-column(12);
    &.image-content {
      @include make-lg-column(10);
      @include make-lg-column-push(1);

    }
  }

  &.focus-left {

    .full-column {
      @include make-xs-column(12);
//      @include make-sm-column(12);
      @include make-md-column(8);
//      @include make-lg-column(7);
    }
  }

  &.focus-right {

    .full-column {
      @include make-sm-column(8);
      @include make-sm-column-push(4);
    }
  }

  &.focus-center {

    .full-column {
      @include make-xs-column(12);
      @include make-md-column(10);
      @include make-md-column-push(1);
      @include make-lg-column(10);
      @include make-lg-column-push(1);
    }
  }

}

// Two-column layouts

.two-column {

  .left-column, .right-column {
    @include make-sm-column(6);
  }

  &.focus-left {

    .left-column {
      @include make-xs-column(12);
      @include make-sm-column(12);
      @include make-md-column(8);
//      @include make-lg-column(7);
    }

    .right-column {
      @include make-xs-column(12);
      @include make-sm-column(6);
      @include make-md-column(4);
//      @include make-lg-column(5);
    }
  }

  &.focus-right {

    .left-column {
      @include make-sm-column(4);
    }

    .right-column {
      @include make-sm-column(8);
    }
  }

  &.focus-center {

    .left-column {
      @include make-sm-column(5);
      @include make-sm-column-push(1);
    }

    .right-column {
      @include make-sm-column(5);
      @include make-sm-column-push(1);
    }
  }
}

// Three-column layouts

.three-column {

  .left-column, .middle-column, .right-column {
    @include make-sm-column(4);
  }

  &.focus-left {

    .left-column {
      @include make-sm-column(8);
    }

    .right-column {
      @include make-sm-column(4);
    }
  }

  &.focus-right {

    .left-column {
      @include make-sm-column(4);
    }

    .right-column {
      @include make-sm-column(8);
    }
  }

  &.focus-center {

    .left-column {
      @include make-sm-column(5);
      @include make-sm-column-push(1);
    }

    .right-column {
      @include make-sm-column(5);
      @include make-sm-column-push(1);
    }
  }
}

//Flexbox

@media (min-width: $screen-desktop) {
  .post {
    .one-column, .two-column, .three-column {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;

      -ms-flex-align: center;
      -webkit-align-items: center;
      -webkit-box-align: center;

      align-items: center;
    }
  }
}

header {
  @extend %flexbox-vert-center;
}

// Right margin on mobile fix

@media (max-width: 767px) {
  .top-nav {
    padding: 0 20px;
  }
}
