// Typography

h1, h2, h3, h4, h5 {
  font-family: $font-family-sans-serif;
  font-weight: 600;
}

h2 {
  @extend %h2-display;
  color: $c-primary-base;
   line-height: 1.25;
  @media (max-width: $screen-sm-tablet) {
    font-size: 1.35em;
  }
}

.main .text-content p {

  @media (min-width: $screen-phone) {
    font-size: 14px;
  }

  @media (min-width: $screen-sm-tablet) {
    font-size: 16px;
  }

  @media (min-width: $screen-desktop) {
    font-size: inherit;
  }
}

.main h3 {

  @media (max-width: $screen-tablet) {
    font-size: 21px;
  }
}

// Colored container for thumbs titles and section titles
%block-title {
  color: $white;
  background-color: $c-primary-base;
  padding: .5em 1em;
  display: inline-block;
  text-transform: capitalize;
}

.content-row-container > .section-title {
  text-transform: uppercase;
}

// Fancy font effects for type elements

%h1-display {
  font-weight: 900;
  text-transform: uppercase;
  //  @include text-shadow(5px, 5px, 0px, $c-primary-darker);
}

%h2-display {
  font-weight: 900;
  text-transform: uppercase;
  //  @include text-shadow(4px, 4px, 0px, $gray-lighter);
  //  @media (max-width: $screen-desktop) {
  //    @include text-shadow(2px, 2px, 0px, $gray-lighter);
  //  }
}

%p-display {
  font-weight: 700;
  //  @include text-shadow(2px, 2px, 0px, $c-primary-darker);
}

.section-title {
  @extend %block-title;
  @extend %h1-display;
  min-width: 200px;
  font-weight: 700;
  //  @include text-shadow(3px, 3px, 0px, $c-primary-darker);

}

