// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;


// Colors
$brand-primary:         #ff4531;
$white: #fff;
$black: #111;

$gray-base:              $black !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 80%) !default; // #eee
$gray-lightest:           lighten($gray-base, 90%) !default; // #eee

//$brand-primary:         darken(#428bca, 6.5%) !default; // #337ab7
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

// Core Colors

$c-primary-base: $brand-primary;
$c-primary-light: lighten($brand-primary, 10%);
$c-primary-lighter: lighten($brand-primary, 20%);
$c-primary-dark: darken($brand-primary, 12%);
$c-primary-darker: darken($brand-primary, 20%);
$c-primary-darkest: darken($brand-primary, 30%);


/* Typography
--------------------------------*/

// Font family
$font-family-sans-serif:  "aktiv-grotesk-std-1", "aktiv-grotesk-std-2", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;

//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

$font-size-base:          16px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.5)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.7 !default; // 20/14

//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family:    inherit !default;
$headings-font-weight:    500 !default;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;


/* Navbar
--------------------------------*/

//Navbar
$navbar-height:                    60px !default;
$navbar-collapse-max-height:       440px !default;
$navbar-default-color:             $white !default;


// Navbar links
$navbar-default-link-color:                $white !default;
$navbar-default-link-hover-color:          $white !default;
$navbar-default-link-hover-bg:             $c-primary-dark !default;
$navbar-default-link-active-color:         $c-primary-base !default;
$navbar-default-link-active-bg:            $white !default;
$navbar-default-link-disabled-color:      $gray !default;
$navbar-default-link-disabled-bg:          transparent !default;

// Navbar brand label
$navbar-default-brand-color:               $white !default;
$navbar-default-brand-hover-color:         $navbar-default-link-hover-color !default;
$navbar-default-brand-hover-bg:            transparent !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:           $c-primary-base !default;
$navbar-default-toggle-icon-bar-bg:        $c-primary-base !default;
$navbar-default-toggle-border-color:       $c-primary-darker !default;


//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$padding-base-vertical:     30px !default;
$padding-base-horizontal:   60px !default;

$padding-large-vertical:    30px !default;
$padding-large-horizontal:  100px !default;

$padding-small-vertical:    5px !default;
$padding-small-horizontal:  32px !default;

$padding-xs-vertical:       1px !default;
$padding-xs-horizontal:     5px !default;

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xxxs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xxxs-min:              $screen-xxxs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-xs-phone:               $screen-xxxs-min !default;

//** Deprecated `$screen-xs` as of v3.0.1
$screen-xxs:                  525px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xxs-min:              $screen-xxs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xxs-min !default;


//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  600px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-sm-tablet:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-xl:                  1920px !default;
$screen-xl-min:              $screen-xl !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-xl-desktop:          $screen-xl-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;


//When navbar collapses
$grid-float-breakpoint: $screen-phone;



// Buttons
$btn-font-weight:                700 !default;

$btn-default-color:              $c-primary-base !default;
$btn-default-bg:                 #fff !default;
$btn-default-border:             #ccc !default;

$btn-primary-color:              $white !default;
$btn-primary-bg:                 $c-primary-base !default;
$btn-primary-border:             darken($btn-primary-bg, 5%) !default;

$btn-success-color:              #fff !default;
$btn-success-bg:                 $brand-success !default;
$btn-success-border:             darken($btn-success-bg, 5%) !default;

$btn-info-color:                 #fff !default;
$btn-info-bg:                    $brand-info !default;
$btn-info-border:                darken($btn-info-bg, 5%) !default;

$btn-warning-color:              #fff !default;
$btn-warning-bg:                 $brand-warning !default;
$btn-warning-border:             darken($btn-warning-bg, 5%) !default;

$btn-danger-color:               #fff !default;
$btn-danger-bg:                  $brand-danger !default;
$btn-danger-border:              darken($btn-danger-bg, 5%) !default;

$btn-link-disabled-color:        $gray-light !default;


