// Global Footer

.footer-global {
  @extend .small;
  background-color: $black;
  color: $gray-dark;
  width: 100%;
  padding: 2em 0 1em 0;

  & a {
    color: $gray-dark;
  }

  .content-row-inner {
    padding: 0;
  }

  .right-column p {
    float: right;
  }

  .full-column {
    text-align: center;
  }

}

@media (max-width: $screen-sm-min) {

  .footer-global ul {
    text-align: center;
  }

  .footer-global .right-column p {
    float: none;
    text-align: center;
  }
}
