
.home #overview .content-row {
  background-color: inherit;
}

.home .main h2 {
  margin-bottom: 30px;
}

.home .main p {
  margin-bottom: 30px;

  @media (min-width: $screen-sm-tablet) {
    font-size: 1.5em;
    margin-bottom: 60px;

  }
}

.home .main a:first-of-type {
  margin-right: 30px;

  @media (max-width: $screen-phone) {
    margin-bottom: 15px;
  }
}
