header {
//  @include background-gradient($gray-darker, $gray-darker);
  color: $white;
  background-color: $c-primary-base;

  &.home {
    min-height: 70vh;
  }

  h1 {
    @extend %h1-display;
    font-size: 2em;

    @media (min-width: $screen-xs-phone) {
      font-size: 2.2em;
    }

    @media (min-width: $screen-sm-tablet) {
      font-size: 3em;
    }
    @media (min-width: $screen-tablet) {
      font-size: 3.8em;
    }
    @media (min-width: $screen-desktop) {
      font-size: 5em;
    }
    @media (min-width: $screen-lg-desktop) {
      font-size: 6em;
    }
    @media (min-width: $screen-xl-min) {
      font-size: 7em;
    }
  }

}
