// Top Navigation

.top-nav {

  @media (max-width: $screen-tablet) {
    @extend .navbar-static-top;
  }

  @media (min-width: $screen-tablet) {
      @extend .navbar-fixed-top;
    }

  @extend .navbar;
  @extend .navbar-default;

  font-family: $headings-font-family;
  padding-left: $padding-small-horizontal/2;
  padding-right: $padding-small-horizontal/2;

  @media (min-width: $screen-sm-tablet) {
    padding-left: $padding-small-horizontal;
    padding-right: $padding-small-horizontal;
  }
  @media (min-width: $screen-tablet) {
    padding-left: $padding-small-horizontal*1.5;
    padding-right: $padding-small-horizontal*1.5;
  }
  @media (min-width: $screen-desktop) {
    padding-left: $padding-large-horizontal;
    padding-right: $padding-large-horizontal;
  }
  @media (min-width: $screen-lg-desktop) {
    padding-left: $padding-large-horizontal*1.25;
    padding-right: $padding-large-horizontal*1.25;
  }
  @media (min-width: $screen-xl-desktop) {
    padding-left: $padding-large-horizontal*2;
    padding-right: $padding-large-horizontal*2;
  }
}

.top-nav {
  border: none;
  background-color: $c-primary-base;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.5em;
  font-kerning: normal;
}

.navbar-brand {
  padding-left: .25em;
  font-size: inherit;

  @media (max-width: $screen-tablet) {
    padding-left: 0em;
  }

  @media (min-width: $screen-tablet) {
    padding-left: 0em;
  }

  @media (min-width: $screen-lg-desktop) {
    padding-left: 3px;
  }
}

.navbar-header .navbar-toggle .icon-bar {
  background-color: #fff;
  height: 3px;
  //  @include box-shadow(2px, 2px, 0px, $c-primary-darker);
}

.navbar-toggle {
  border: none;
  background-color: none;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;

}

.navbar-collapse {
  border-top: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.collapse.in {
  @media (max-width: $screen-tablet) {
    padding-bottom: 30px;
  }
}
