// Image sizing
.blog img {
  width: 100%;
  height: 100%;
}

.single #work-footer img {
  width: 100%;
  height: 100%;
}

.about img {
  width: 100%;
  height: 100%;
}

.single .content-row-inner img {
  max-width: 100%;
  //  height: auto;
}

.single .image-content img {
  max-width: 100%;
  //  height: auto;
}

.content-row {
  background: no-repeat center;
  background-size: cover;
}

#overview .content-row {
  background-color: $gray-darker;
}

// Work Pages Specific Tweaks

.celanese #website img {
  box-shadow: none;
  -webkit-box-shadow: none;
  border: none;
}

.about .main {
  & h2 {
    margin-bottom: 1.45em;
  }
  & h3 {
    margin-bottom: 1.25em;
    line-height: 1.4;
    color: $gray;
    font-weight: 700;
  }
}

.home, .about {
  .main a {
    @extend .btn;
    @extend .btn-md;
    @extend .btn-primary;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    padding: .75em 1.25em .75em 1.25em;
    border-radius: 0px;
    border: none;
  }
}

.about .main a {
  margin-top: 30px;
  @media (max-width: $screen-tablet) {
    margin-bottom: 30px;
  }
}
