
.pre-footer-work {
  background-color: $gray-dark;

  .content-row-inner {
    padding-top: 8%;
  }
}

.pre-footer-cta {

  .content-row {
    padding-bottom: 1%;
    background-color: $gray-lightest;
  }

  h2 {
    //    font-size: 4vh;
    color: $gray;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: .25em;
    @media (min-width: $screen-phone) {
      font-size: 2.5em;
    }
  }

  a {
    color: $c-primary-base;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.25;
    @media (max-width: $screen-phone) {
      font-size: 1.125em;
    }
    @media (min-width: $screen-phone) {
      font-size: 2em;
    }
    @media (min-width: $screen-tablet) {
      font-size: 2.5em;
    }

  }

  .content-row-inner {
    padding: 3% 0 5% 0;
  }
}

.email, .phone {
  cursor: pointer;
}

.email:after {
  content: '@chrisstraight.com';
}

.phone:after {
  content: '-8764';
  margin-right: 1rem;
}



