.single {

  height: 100%;

  header {
    padding-bottom: 3em;
  }

  .client {
    @extend %p-display;
    font-family: $headings-font-family;
    text-transform: capitalize;
    padding-bottom: 0;
    @media (min-width: $screen-xs-phone) {
      font-size: 2em;
      //    }
      //
      //    @media (min-width: $screen-sm-tablet) {
      //      font-size: 3em;
      //    }
      //    @media (min-width: $screen-tablet) {
      //      font-size: 3.8em;
      //    }
      //    @media (min-width: $screen-desktop) {
      //      font-size: 5em;
      //    }
      //    @media (min-width: $screen-lg-desktop) {
      //      font-size: 6em;
      //    }
      //    @media (min-width: $screen-xl-min) {
      //      font-size: 9em;
      //    }
      //
      //    @media (max-width: $screen-xs-min) {
      //      line-height: 5.5rem;
      //    }
    }
  }

  .project {

    margin-top: 0px;

    @media (min-width: $screen-xs-phone) {
      font-size: 3.3em;
    }

    @media (min-width: $screen-sm-tablet) {
      font-size: 3em;
    }
    //    @media (min-width: $screen-tablet) {
    //      font-size: 3.8em;
    //    }
    //    @media (min-width: $screen-desktop) {
    //      font-size: 5em;
    //    }
    //    @media (min-width: $screen-lg-desktop) {
    //      font-size: 6em;
    //    }
    //    @media (min-width: $screen-xl-min) {
    //      font-size: 9em;
    //    }
    //
    //    @media (max-width: $screen-xs-min) {
    //      line-height: 5.5rem;
    //    }
  }

  .project-type {
    color: $c-primary-lighter;
    font-size: 1em;
    //    font-style: italic;
    line-height: 2rem;
    margin-bottom: .25rem;
    padding-left: 3px;
  }

  .client-info {
    font-size: 1rem;
  }

}
