
.single section:nth-of-type(n+3) .content-row {
  border-top: 1px solid $gray-lighter;
}

.single section:nth-of-type(2n) .content-row {
  background-color: $gray-lightest;
}

.single section:last-of-type .content-row {
  background-color: inherit;
  border-top: none;
}

.single #overview {
  color: $gray-lighter;
}

#work-footer {
  background-color: $gray-darker;
  border-top: none;
}

.single .content-row-inner .image-content img {
  @include box-shadow(0px, 5px, 10px, #ccc);
  border: 1px solid $gray-lighter;

  @media (max-width: $screen-sm-min) {
    box-shadow: none;
    border: 1px solid $gray-light;

    .full-column.image-content {
      padding: 0px;
    }
  }
}

@media (max-width: $screen-md-min) {
    .one-column.focus-center .full-column {
      padding: 0px;
    }
  }

// Centers single images in viewport
.full-column.image-content {
  text-align: center;
}
