.work-thumb {
  @include make-xs-column(12);
  @include make-sm-column(6);
  @include make-md-column(4);
  @include make-lg-column(3);

  position: relative;
  margin-bottom: 2em;
}

//.post .work-thumb {
//  @include make-sm-column(3);
//}

.detail-container {
  @extend %block-title;
  opacity: .95;
  position: absolute;
  bottom: -1px;
  left: 15px;
  right: 15px;
    min-height: 30%;

  //  & div:first-child{
  //    margin-bottom: 1em;
  //  }
}

.work-thumb a {
  float: left;
  background-color: $c-primary-darker;

  &:hover {
    & .image {
      opacity: .80;
    }
//    & .detail-container {
//          border-top: $c-primary-base 10px solid;
//        }
  }
}

.detail-container .detail-title {
  @extend .h5;
  font-weight: 600;
  font-kerning: normal;
  margin-bottom: 5px;
}

.detail-container .detail-subtitle {
  text-transform: uppercase;
  font-weight: 800;
  line-height: 2.2rem;
  margin-bottom: 5px;

}

.detail-container .detail-categories {
  font-size: 1em;
  font-weight: 500;
  text-transform: lowercase;
  line-height: 1.6rem;
  color: $c-primary-lighter;
}
